body{
    height: 100%;
    box-sizing: border-box;
    background-color: blueviolet;
    display:inline-block;
    justify-content:flex-end;
    
}
.div1{
   
    height: 25%;
    background-color: blue;
    
    
}
.div2{
   
    height: 250%;
    background-color: antiquewhite;
   
}

.div3{
    
    height: 25%;
    background-color: aquamarine;
  
}
.div4{
   
    height: 25%;
    background-color: coral;
    
    
}
