body{
    margin:0;
    width:auto;
    height: auto;
    font-family: 'Segoe UI', Arial,sans-serif;
}
/**Style for links with border radius**/
.light-green-border{
    background-color: #D9EEE1;
    color:black;
}
.purple-border{
    color:white;
    background-color:#9763f6;
}
.green-border-radius{
    background-color: #04AA6D;
    color: white;
}
.yellow-border-radius{
    background-color:#FFF4A3;
    color:black;
}
.black-border{
    background-color: #282A35;
    color: white;
}
.pink-border{
    background-color: #FFC0C7;
    color: black;
}
.white-border{
    background-color: white;
    color: black;
}
.headings{
    font-weight: 700;
    font-size: 70px;
    color: black;
}
.heading2{
    width:max-content;
    margin-top:-49px; 
    font-weight: 140;
    font-size: 19px;
}


/**style the nav**/
nav ul{
    width: auto;
    margin: 15px;
    display: flex;
   justify-content:space-around;
   list-style-type: none;
}

/**styling for links on the nav**/
nav ul li a{
    font-weight: 500;
    font-size:15px;
    font-family: Verdana, sans-serif;
    text-decoration: none;
    color: black;
    padding:33%;  
    padding-bottom:22%;
}
/**hoverable links on the nav**/
nav ul li a.hover:hover{
    background-color: #04AA6D;
    color: white;
}

section{
    background-color:  #282A35;
    text-align: center;
    width: auto;
    padding: 9%;   
}
.with-the{
  color:#FFC0C7;
  font-weight: 700;
  font-size: 25px;
  margin-top: -35px;
}
  
.container{
    padding: 1%;
    border-radius:25px;
    color: black;
    font-weight: 500;
    font-weight: 700px;
    width:30%;
    text-align: left;
    margin-left: 34%; 
    border-width:thin;
    background: linear-gradient(
    to right,
    white 0%,
    white 80%,
    #04AA6D 80%,
    #04AA6D 100%); 
}
.underline{
    color: white;
    font-weight: 700;
    font-size: 20px;
}
a.underline:hover{
    color: #04AA6D;
}
/**set background color for the div containing the aside**/
.div-aside{
    background-color: #D9EEE1;
}
/**width for the elements in the aside and center the elements. flex direction to display them horizontally**/
 .div-outer{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    align-items: center;
}
.div-ul-li{
    text-align: center;
    list-style-type: none;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content:space-between
    
}
div aside ul li a{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    margin-bottom: 14px;

}
.div-inner{
    position: relative;
    left: 6%;
    text-align: left;
    border: 1px;
    width: 20%;
    padding: 10%;
    background-color:#E7E9EB;
    line-height: normal;
    color: black;
    margin:10%;
    border-radius:5px;
}
div aside div xmp{
    background-color: white;
    color: black;
    position: absolute;
    border-left-color: #04AA6D;
    bottom: 25%;
    left: 5px;
    right: 5px;
    line-height: 25px;
    margin:auto;
    width:90%;
}
.border-radius{
    border-radius: 25px;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}
.div-article{
    background-color:#FFF4A3;
}
div article ul li a{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    margin-bottom: 14px;
}
div article div xmp{
    background-color: white;
    color: black;
    position: absolute;
    bottom: 25%;
    left: 5px;
    right: 5px;
    line-height: 25px;
    margin:auto;
    width:90%;
}
.div-header{
    background-color: #282A35;
}