body{
    margin:0;
    width:auto;
    height: auto;
    font-family: 'Segoe UI', Arial,sans-serif;
    
}
/**style the nav**/
nav ul{
    width: auto;
    margin: 0;
    display: flex;
   justify-content:space-between;
   flex-wrap: wrap;
   overflow: hidden;
   list-style-type: none;
}

/**styling for links on the left hand side of the nav**/
nav ul li a.hover{
    font-weight: 500;
    font-size:15px;
    font-family: Verdana, sans-serif;
    text-decoration: none;
    color: black;
    padding-top: 90%;
    padding-bottom: 100%;
    margin: 0;
}
/**hoverable links on the nav**/
nav ul li a.hover:hover{
    background-color: #04AA6D;
    color: white;
    
}
nav ul li a.end{
    text-decoration: none;
    border-radius: 15px;
    padding-bottom: 5%;

}

section{
    background-color:  #282A35;
    text-align: center;
    height: 60%;
    width: auto;
    padding: 9%;
    
}
.learn-to-code{
    font-weight: 700;
    font-size: 50px;
    color: white;

}
.with-the{
  color:#FFC0C7;
  font-weight: 700;
  font-size: 25px;

}
  
.container{
    padding: 1%;
    border-radius:25px;
    color: black;
    font-weight: 500;
    font-weight: 700px;
    width:30%;
    text-align: left;
    margin-left: 34%; 
    border-width:thin;
    background: linear-gradient(
    to right,
    white 0%,
    white 80%,
    #04AA6D 80%,
    #04AA6D 100%); 

 
}
.underline{
    color: white;
    font-weight: 700;
    font-size: 20px;
}
a.underline:hover{
    color: #04AA6D;
}
aside{
    height: 40%;
    width: auto;
    background-color: #D9EEE1;
    margin: 0px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    padding: 5%;
    align-items: center;
}
aside div div.inner{
    position: relative;
    right: 20px;
    display: block;
    text-align: left;
    border: 1px;
    width: 10px;
    padding: 10%;
    background-color:#E7E9EB;
    color: black;
}
aside div div.inner xmp{
    background-color: white;
    color: black;
    position: absolute;
    bottom: 0;
}
aside ul li{
    list-style-type: none;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content:space-between
}
aside ul li a{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    width: 130px;
   border-radius: 15px;
    padding: 10px;
    margin-bottom: 14px;
    margin-left: -60px;
}
.green-border-radius{
    background-color: #04AA6D;
    color: white;
}
.yellow-border-radius{
    background-color:#FFF4A3;
    color:black;
}
.black-border{
    background-color: #282A35;
    color: white;
}
.pink-border{
    background-color: #FFC0C7;
    color: black;
}
